@import '_mixins/prefixer.less';
@font-stack-safe: Helvetica, sans-serif;
@font-stack-main: "Roboto", @font-stack-safe;
@font-stack-highlight: "Roboto Condensed", @font-stack-safe;
@color-background: #fff;
@color-highlight: rgb(110, 112, 135);
@color-highlight-light: lighten(@color-highlight, 10%);
@color-highlight-dark: darken(@color-highlight, 10%);
@color-foreground: #000;
@map-dot-size: 40px;
@transition-time: 0.25s;
html {
    background: @color-background;
    color: black;
    text-align: center;
    font-family: @font-stack-main;
}
body {
    max-width: 1200px;
    margin: 0px;
    padding: 20px 100px;
    overflow-x: hidden;
		// background: url('http://s20.postimg.org/d12grlrzt/body_bg.jpg') repeat 0 0;
}
.description {
    max-width: 600px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    font-size: 1em;
}
div, img, footer {
    position: relative;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family:@font-stack-highlight;
    font-weight: 300;
}
h1 {
    font-size: 36pt;
    text-transform: none;
}
h2 {
    font-size: 24pt;
}
h3 {
    font-size: 18pt;
}
h4 {
    font-size: 16pt;
}
h5 {
    font-size: 14pt;
}
h6 {
    font-size: 12pt;
}
p {
    font-size: 12pt;
    margin-bottom: 12pt;
}
strong {
    font-weight: 900;
    font-family: @font-stack-highlight;
    color: @color-foreground;
}
a {
    -webkit-transition: color @transition-time ease-in-out;
    transition: color @transition-time ease-in-out;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: @color-highlight-light;
		&:visited{
			color: @color-highlight-light;
		}
		li.active &, &:hover, &:active{
			color: @color-foreground;
		}
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    p a{
      color: #000;
      font-size: 0.7em;
    }
}

.two-year{
	font-style: italic;
}

.private{
	&::before{
		content: "* ";
	}
}

.for-profit{
	&::before{
		content: "+ ";
	}
}

// **********					************
// **********					************
// 				     	Map
// **********					************
// **********					************

.distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    .box-sizing(border-box);
    margin: 0 auto;
    &> img {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .map-point {
        cursor: pointer;
        outline: none;
        z-index: 0;
        position: absolute;
        width: @map-dot-size;
        height: @map-dot-size;
        .border-radius(@map-dot-size/2);
        .opacity(0.8);
        .transform(translate(-50%, -50%));

        -moz-transition:
					opacity @transition-time ease-in-out @transition-time,
					width @transition-time ease-in-out @transition-time,
					height @transition-time ease-in-out @transition-time,
					z-index @transition-time ease-in-out @transition-time;

        -o-transition:
					opacity @transition-time ease-in-out @transition-time,
					width @transition-time ease-in-out @transition-time,
					height @transition-time ease-in-out @transition-time,
					z-index @transition-time ease-in-out @transition-time;

        -webkit-transition:
					opacity @transition-time ease-in-out,
					width @transition-time ease-in-out,
					height @transition-time ease-in-out,
					z-index @transition-time ease-in-out;

				-webkit-transition-delay: @transition-time, @transition-time, @transition-time, @transition-time;

				-webkit-transition:
					opacity @transition-time ease-in-out @transition-time,
					width @transition-time ease-in-out @transition-time,
					height @transition-time ease-in-out @transition-time,
					z-index @transition-time ease-in-out @transition-time;

        transition:
					opacity @transition-time ease-in-out @transition-time,
					width @transition-time ease-in-out @transition-time,
					height @transition-time ease-in-out @transition-time,
					z-index @transition-time ease-in-out @transition-time;

        background: fadeout(@color-background, 15%);
        border: @map-dot-size/8 solid @color-highlight-dark;
        &.active{
            pointer-events: auto;
            -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, -50%);
            margin: 0;
            .opacity(1);
            width: 250px;
            height: 500px;
            color: @color-foreground;
            z-index: 1;
            -webkit-transition: opacity @transition-time ease-in-out, width @transition-time ease-in-out, height @transition-time ease-in-out;
            transition: opacity @transition-time ease-in-out, width @transition-time ease-in-out, height @transition-time ease-in-out;

            .content{
							padding: 0 10px;
              top:0!important;
              width: 100%;
              height: 100%;
              .opacity(1);
              -moz-transition: opacity @transition-time ease-in-out @transition-time, height @transition-time ease-in-out, overflow @transition-time ease-in-out;
              -o-transition: opacity @transition-time ease-in-out @transition-time, height @transition-time ease-in-out, overflow @transition-time ease-in-out;
              -webkit-transition: opacity @transition-time ease-in-out, height @transition-time ease-in-out, overflow @transition-time ease-in-out;
              -webkit-transition-delay: @transition-time, 0s, 0s;
              -webkit-transition: opacity @transition-time ease-in-out @transition-time, height @transition-time ease-in-out, overflow @transition-time ease-in-out;
              transition: opacity @transition-time ease-in-out @transition-time, height @transition-time ease-in-out, overflow @transition-time ease-in-out;
              overflow-y: scroll;
              pointer-events: auto!important;
              .centered-y{
                top: 0;
              }
              a:active,a:hover
               {
                  color: @color-highlight;
                  pointer-events: auto;
                  -moz-pointer-events: auto;
              }
            }
        }
        .content {
            .opacity(0);
            transition: opacity @transition-time ease-in-out;
            left: 50%;
						width: 100%;
						heigth: 100%;
            .transform(translateX(-50%));
            overflow: scroll;
        }
    }
}



.others {
    margin-top: 20px;
		.map-point{
			margin-bottom: 20px;
			position: relative;
			border: @map-dot-size/8 solid @color-highlight-dark;
			.border-radius(@map-dot-size/2);
			height: 100%;
			clear: both;
			display:block;
			.transform(none);
			.transition(none);
			.opacity(0.8);
			.content{
				padding: 0 10px;
				position: relative;
				.centered-y{
					position: relative;
				}
			}
		}
}
#mobile-view {
    display: none;
    text-align: left;
}



// **********					************
// **********					************
// 		   	Mobile View
// **********					************
// **********					************



@media all and (max-width: 767px) {
    #mobile-view {
        display: block;
    }

    .map-image, .description {
        display: none;
    }
		body{
			padding: 20px;
		}

		.distribution-map, .others {

				width: 100%;
		    padding: 20px;
		    .box-sizing(border-box);
		    margin: 0 auto;
				overflow: hidden;
		    .map-point {
						float: left;
						display: inline-block;
						padding: 15px;
						margin-bottom: 20px;
		        z-index: 0;
		        position: relative;
		        width: 100%;
		        height: 100%;
		        .border-radius(@map-dot-size/2);
		        background: none;
		        border: @map-dot-size/8 solid @color-highlight-dark;
						top:0px!important;
			      left:0px!important;
			      clear:both!important;
						.transition(none);
						.transform(none);
						&.active{
							.transition(none);
							.transform(none);
							width: 100%;
							height: 100%;
							margin-bottom: 20px;
						}
		        .content {
								clear:both;
		            .opacity(1);
								width: 100%;
								heigth: 100%;
		            // -webkit-transform: translateX(-50%);
		            overflow:visible;
								.centered-y{
									position:relative;
									clear: both;
									text-align: left;
								}
		        }
		    }
		}

}
